body {
    font-family: Arial;
    background: #f2f2f2;
    margin: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background: #007bff;
    color: white;
}

#searchBox {
    width: 90%;
    padding: 12px;
    margin: 15px auto;
    display: block;
    border-radius: 8px;
    border: none;
}

.product {
    background: white;
    padding: 15px;
    margin: 12px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.product img {
    width: 100px;
    border-radius: 10px;
}

.price {
    font-size: 18px;
    color: green;
    font-weight: bold;
}

button {
    padding: 10px 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
}

.float-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    padding: 14px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
