body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

/* HEADER */
.header {
    background: #007bff;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1 {
    margin: 0;
    font-size: 20px;
}
.header input {
    width: 45%;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

/* BANNER */
.banner img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 15px;
}

/* CATEGORIES */
.categories {
    padding: 20px;
}
.category-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}
.cat-box {
    background: white;
    padding: 18px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

/* PRODUCT GRID */
.product-grid {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
}
.product-card {
    background: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.08);
}
.product-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}
.product-card h3 {
    font-size: 16px;
    margin: 8px 0 2px 0;
}
.price {
    color: green;
    font-weight: bold;
}
.add-btn {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
}

/* CART */
.cart-page {
    padding: 20px;
}
.cart-item {
    background: white;
    display: flex;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.cart-item img {
    width: 80px;
    height: 70px;
    border-radius: 8px;
    margin-right: 10px;
}
.qty-box {
    display: flex;
    gap: 8px;
}
.qty-box button {
    width: 28px;
    height: 28px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 50%;
}
.footer-cart {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.checkout-btn {
    background: green;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 8px;
}

/* CHECKOUT PAGE */
.checkout-page {
    padding: 20px;
}
.checkout-page input,
.checkout-page textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
.placeorder-btn {
    width: 100%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
}

/* BACK BUTTON + CART BUTTON */
.back-btn {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.cart-btn {
    color: white;
    text-decoration: none;
    font-size: 24px;
}
